<mat-card>
    <mat-card-title>Alterar Time</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="team.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sigla"
            [(ngModel)]="team.sigla" name="sigla">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Força"
            [(ngModel)]="team.forca" name="forca">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateTeam()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
