/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue {
    color: #314b4b;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #06D6A0;
    color: #221D25;
}

.msg-error {
    background-color: #EF476F;
    color: #FFFFFF;
}
